.grid {
display: grid;
height: 100px;
grid-template-columns: 1fr;
grid-template-rows: 100px 1000px 100px;
grid-template-areas: "header""main""footer";
}
header{background-color: #2B4D6B;
    grid-area: header;}
    h1 {
        color: #FFFBF2;
    }
main {background-color: #FFFBF2;
    grid-area: main;}
footer {background-color: #2B4D6B;
    grid-area: footer;}
    a {
        color: #FFFBF2;
        text-decoration: none;
    }
body {
    margin: 0px;
    padding: 0px;
}

