.grid{
display: grid;
height: 100vh;
grid-template-columns: 1fr;
grid-template-rows: 100px auto 100px;
grid-template-areas: "header""main""footer";
}
header{background-color: #2B4D6B;
    grid-area: header;}
main{background-color: #FFFBF2;
    grid-area: main;}
footer{background-color: #2B4D6B;
    grid-area: footer;}
    a {
        color: #FFFBF2;
        text-decoration: none;
    }
body{
    margin: 0px;
    padding: 0px;
/*nedenstående tilhører hovedmenu*/
}
.header.main{
    width: 100%;
    height: 100px;
    background-color: #2B4D6B;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    position: fixed;
    width: calc(100%);
    background-color:#2B4D6B
}
nav ul{
width: 100%;
list-style: none;
display: flex;
justify-content: end;
align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFFBF2;
}
nav a:hover{
background-color: #516B8B
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:#2b4d6bc0;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width:600px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width:400px){
    .sidebar{width: 100%;
    }
}
/*nedenstående tilhører indhold på hjem side*/
.hjem-overskrift {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2B4D6B;
    margin-left: 70px;
}
.hjem-indhold{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2B4D6B;
    margin: 10px;
    font-size: 25px;
    flex-wrap: wrap;
    
}
.hjem-indhold img {
    border-radius: 30px;
}
@media (max-width:600px) {
    .hjem-indhold {
        width: 100%;
    }
    .hjem-overskrift {
        width: 100%;
    }
.hjem-indhold img {
    width: 100%;
}
}


/*nedenstående tilhører projekter siden*/
.projekter-overskrift {
    font-size: 30px;
    color: #2B4D6B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.image-gallery > li {
    flex-basis: 550px;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2B4D6B;
}
.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}
.image-gallery > li {
    position:relative;
    cursor: pointer;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.084);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color:#2B4D6B;
    border-radius: 5px;
    display: flex;
    align-items:end;
    justify-content: center;
}

.image-gallery li:hover .overlay {
    transform: scale(1);
}

@media (max-width:600px) {
    .image-gallery {
        flex-direction: row;
        width: 100%;
    }
}

@media (min-width:601px) {
    .image-gallery {
        flex-direction: row;
        width: 100%;
    }
}

/*dette tilhører ommig siden*/
.om-mig-tekst h2 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
color: #2B4D6B;
display: flex;
flex-wrap: wrap;
}

.om-mig-tekst p {
    font-size: 20px;
    color: #2B4D6B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.fakta-om-mig {
    display: flex;
    flex-wrap: wrap;
   width: 100%; 
   padding: 60px 0;
   display: flex;
   align-items: center;
   column-gap: 60px;
   justify-content: center;
}
.fakta-om-mig img {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    border-radius: 30px;
}
.om-mig-tekst {
display: flex;
flex-wrap: wrap;
flex-basis: 650px;
}
.om-mig-skills p {
    display: flex;
    flex-wrap:nowrap;
    justify-content: start;
}
@media (max-width:600px) {
    .om-mig-tekst {
        width: 100%;
    }
    .fakta-om-mig img {
        width: 100%;
    }
    .fakta-om-mig {
        width: 100%;
    }
}